.cell {
	
	cursor: pointer;
	width: 150px;
	height: 150px;
	
}

#mid_mid {
	
	border: 2px dashed black;
	
}

#top_mid, #bot_mid {
	
	border-left : 2px dashed black;
	border-right : 2px dashed black;
	
}

#mid_left, #mid_right {
	
	border-top : 2px dashed black;
	border-bottom: 2px dashed black;
	
}

#grid {
	
    display: inline-block;
	
}

#game {
	
	text-align: center;
	
}

#reset_button {

	background-color : white;
	color: black;
	font-size : 18px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.5);

}
